---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { aboutPageContent } from "../config";
import ResumeItem from "../components/ResumeItem.astro";
import { Markdown } from "@astropub/md";
import SocialLinkBox from "../components/SocialLinkBox.astro";
---

<Layout seo={aboutPageContent.seo}>

  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">About</h1>
    </section>
  
  <section class="mt-5 max-w-2xl mx-auto px-6">
    <div class="mb-14">
      <Markdown of={aboutPageContent.about.description} />
    </div>
  </section>

  <section class="mt-20 max-w-2xl mx-auto px-6">
    <h2 class="mb-8 sm:mb-0 opacity-60">Work</h2>
      <div>
        <div class="mb-6">
          <Markdown of={aboutPageContent.work.description} />
        </div>
        <div class="grid grid-cols-1 gap-4">
          {aboutPageContent.work.items.map((item) => <ResumeItem {...item} />)}
        </div>
      </div>
  </section>

  <section class="mt-20 max-w-2xl mx-auto px-6">
    <h2 class="mb-8 sm:mb-0 opacity-60">Work</h2>
      <div>
        <div class="mb-6">
          <Markdown of={aboutPageContent.studies.description} />
        </div>
        <div class="grid grid-cols-1 gap-4">
          {aboutPageContent.work.items.map((item) => <ResumeItem {...item} />)}
        </div>
      </div>
  </section>
  
  <section class="mt-20 max-w-2xl mx-auto px-6">
    <div class="flex justify-center">
      <div class="flex flex-wrap gap-4">
        {aboutPageContent.connect.links.map((item) => (
          <SocialLinkBox {...item} />
        ))}
      </div>
    </div>
  </section>


</Layout>
