---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { homePageContent, identity, modulesPageContent } from "../config";
import SocialLink from "../components/SocialLink.astro";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";
---

<Layout seo={modulesPageContent.seo}>
  
  <section class="mt-10">
    <h1 class="font-bold text-3xl mb-1">Modules</h1>
    <p>{modulesPageContent.subtitle}</p>
  </section>
  
</Layout>